.env

# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.idea/
